<% if (title) { %>
<h1><%- title %></h1>
<% } else {
  res.redirect('/')
} %>
<form id="loginForm" action="/account/login" method="post">
  <fieldset class="form-container">
    <label for="email">E-mail:</label>
    <input name="email" id="email" type="email" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <%- messages() %>
    <button type="submit">LOGIN</button>
    <span>No account? <a href="/account/register">Sign-up</a></span>
  </fieldset>
</form>