<% if (title) { %>
<h1><%- title %></h1>
<% } else { res.redirect('/') } %>
<%- messages() %>
<h2>Welcome <%- locals.accountData.account_firstname %></h2>
<p>You're logged in</p>
<div><a href="/account/edit">Edit account information</a></div>
<% if(locals.accountData.account_type !== 'Client') { %>
  <h2>Inventory Management</h2>
  <div><a title="click to management" href="/inv/">Inventory management</a></div>
<% } %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>
        
        