<h1>Welcome to CSE Motors!</h1>

<section class="car-highlight">
  <div class="cta">
    <h2><b>DMC Delorean</b></h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <img src="/images/site/own_today.png" alt="CTA button OWN TODAY">
  </div>
  <img class="highlight-image" src="/images/vehicles/mechanic.jpg" alt="Mecanic car">
</section>
<div class="content-wrapper">
  <section class="review-section">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>

  <section class="upgrades-section">
    <h2>Delorean Upgrades</h2>
    <div class="upgrades-grid">
      <div>
        <div class="img-container">
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
        </div>
        <a href="#">Flux Capacitor</a>
      </div>
      <div>
        <div class="img-container">
          <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
        </div>
        <a href="#">Flame Decals</a>
      </div>
      <div>
        <div class="img-container">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
        </div>
        <a href="#">Bumper Stickers</a>
      </div>
      <div>
        <div class="img-container">
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
        </div>
        <a href="#">Hub Caps</a>
      </div>
    </div>
  </section>
</div>